# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Kraedt
email: kraedt@gmail.com
description: >- # this means to ignore newlines until "baseurl:"

# {- My shit -}
# Note: Go to Spotify track / album, share > copy URI > paste at end of URL here
latest-spotify: "https://open.spotify.com/embed?uri=spotify:track:3Tjzew0UcMIS1dLvA3gdie"

download-site: "http://unbox.kraedt.com/"
download-site-dl: "http://unbox.kraedt.com/download/request/"

current-year: 2018

baseurl: "" # the subpath of your site, e.g. /blog
url: "http://kraedt.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: kraedt
github_username:  kraedt

# Build settings
markdown: kramdown
#theme: minima
plugins:
  - jekyll-feed
  - jekyll-redirect-from

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
