<html>
<div class="header">
    <div class="navbar">
        <ul class="links">
            <li><a href="{{site.home}}">HOME</a></li>
            <li><a href="{{site.music}}">MUSIC</a></li>
            <li><a href="{{site.merch}}">MERCH</a></li>
            <li><a href="{{site.contact}}">CONTACT</a></li>
            <li class="br"></li>
            <li class="sm"><a href="http://soundcloud.com/kraedt" title="Soundcloud" target="_blank"><img
                    src="../assets/images/soundcloud_icon.png"></a></li>
            <li class="sm"><a href="http://youtube.com/kraedt" title="YouTube" target="_blank"><img
                    src="../assets/images/youtube_icon.png"></a></li>
            <li class="sm"><a href="https://open.spotify.com/artist/0YbhxZi9PSVTmB4UMkM5Jw" title="Spotify"
                   target="_blank"><img src="../assets/images/spotify_icon.png"></a></li>
            <li class="sm"><a href="https://pro.beatport.com/artist/kraedt/429462" title="Beatport" target="_blank"><img
                    src="../assets/images/beatport_icon.png"></a></li>
            <li class="sm"><a href="http://facebook.com/kraedt" title="Facebook" target="_blank"><img
                    src="../assets/images/facebook_icon.png"></a></li>
            <li class="sm"><a href="http://twitter.com/kraedt" title="Twitter" target="_blank"><img
                    src="../assets/images/twitter_icon.png"></a></li>
            <li class="sm"><a href="http://instagram.com/kraedt" title="Instagram" target="_blank"><img
                    src="../assets/images/instagram_icon.png"></a></li>
        </ul>
    </div>
</div>
</html>