.header {
    background: purple;
}

.navbar {
    background: green;
}

.social-media{
    background: cyan;
}

.links {
    background: blue;
}

/*<editor-fold desc="Base">*/

html {
    background: url("../assets/images/background.jpg") black no-repeat fixed;
    background-size: 100%;
    background-position: 0% 50%;
    color: white;
    font-family: Chapaza, serif;
}

.content-window {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.7);
    border: solid #FF9A01;
    border-radius: 10px;
    box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.8);
}

.body-content {
    min-height: calc(100vh - 280px);
    margin: 0 16em 0 16em;
    padding-bottom: 40px;
}

@font-face {
    font-family: Chapaza;
    src: url('../assets/fonts/Chapaza.ttf');
}

@font-face {
    font-family: Leon;
    src: url('../assets/fonts/Leon-Regular_TRIAL.ttf');
}

ol, ul {
    list-style: none;
    font-size: 1.1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}

a {
    color: #FF9A03;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #FFD603;
    text-decoration: none;
}

p {
    font-size: 1.1em;
}

/*</editor-fold>*/

/*<editor-fold desc="Header">*/

.navbar {
    font-size: 1em;
    text-decoration: none;
}

.navbar .links {
    display: table;
    margin: 0 auto;
}

.navbar ul, li {
    display: inline;
    padding: 0 1em 0 1em;
}

.header .sm {
    padding: 0 0.2em 0 0.2em;
}

.header .br {
    padding-left: 1em;
}

.sm img {
    width: 35px;
    height: 35px;
    filter: brightness(100) grayscale(100%);
    -webkit-filter: brightness(100) grayscale(100%);
}

.sm img:hover {
    filter: brightness(100%) grayscale(0);
    -webkit-filter: brightness(100%) grayscale(0);
}

.header{
    font-size: 1.5em;
    font-family: Leon, serif;
    color: #ffffff;
    margin: 1em;
}

.header > li > a:active,
.header > li > a:hover,
.header > li > a.focus {
    color: #FF9A03;
    background-color: transparent;
}

/*</editor-fold>*/

/*<editor-fold desc="Footer">*/
footer {
    height: 20px;
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

footer a,
footer a:visited {
    color: black;
}

footer a:hover,
footer a:focus {
    color: #FF9A03;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
/*</editor-fold>*/