@import 'vars';

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: $primary-dark;
    color: white;
    font-family: $font;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
  margin: 15% auto;
  width: 60%;
  border: none;
  background-color: #00000000;
  text-align: center;
}

.close {
  color: #e33;
  opacity: 1;
  z-index: 100;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #aaa;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.body-content {
    min-height: calc(100vh - 340px);
    margin: 0 auto;
    max-width: 90%;
    left: -10px;
}

select,
textarea {
    width: 100%;
    font-family: $font;
    font-size: 14px;
    resize: none;
}

form input {
    width: auto;
    font-family: $font;
    font-size: 14px;
}

form .button {
    width: auto;
    float: right;
}

.contact-form {
    padding: 2px;
}

.message {
    color: #FFD603;
}

.error {
    color: red;
}

.corner-controls {
    position: fixed;
    right: 1.5em;
    bottom: 1em;
    font-size: 16px;
    text-align: right;
}

.corner-controls a {
    padding-top: 10px;
    display: block;
}

ul {
    list-style: square;
}

h1 {
    font-size: 1.5vmax;
}

h2 {
    font-size: 1.1vmax;
}

h3 {
    font-size: 0.9vmax;
}

a {
    color: #FF9A03;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #FFD603;
    text-decoration: none;
}

p {
    font-size: 0.75vmax;
}

.text-center {
    text-align: center;
}

.div-center-fixed {
    width: 303px;
    margin: 0 auto;
}

.image-prop {
    width: 100px;
    height: 100px;
}

.image-prop-small {
    width: 50px;
    height: 50px;
}

.direct-dl-btn {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}

.music-page {
    width: 100%;
}

.music-page td {
    border-top: 1px inset white;
    text-align: center;
}

.song-page, .song-page td {
    width: 100%;
    text-align: center;
}

.audio-links {
    display: inline-block;
    width: 280px;
}

.btn-download {
    background: #ff9a01;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    width: 150px;
    height: 40px;
    border: 2px;
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    font-family: $font-alt;
    font-variant: all-small-caps;
    font-weight: bold;
    font-size: 32px;
}

.btn a {
    vertical-align: middle;
}

.btn-download:hover {
    background: #333;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    border-color: #ff9a01;
}

.btn-download h1 {

    margin-top: -4px;

    vertical-align: middle;
}