---
layout: default
---

{{ content }}

<h2>Welcome!</h2>

<p>
    Chris, better known as Kraedt (pronounced 'Crate'), is an Electronic Dance Music producer from Wisconsin. He began
    producing late 2010, and got serious about it sometime in 2011. Electro House, Progressive House, and Drum n' Bass
    are his 'forte', with high energy as the main theme in most of his tracks. Starting fresh from an earlier alias,
    Kraedt strives to drop the bass and have fun doing it!
</p>
<h3>A good chunk of my music is now on Spotify!</h3>
<iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0YbhxZi9PSVTmB4UMkM5Jw&amp;size=detail&amp;theme=dark"
        width="210" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;"
        allowtransparency="true"></iframe>
</br>
<h3>This is a landing page / hub site for my music. Here you can do the following:</h3>
<ul>
    <li>Read my bio (above)!</li>
    <li>Contact me (Sends me an email. Be sure to include your email address if you want a reply).</li>
    <li>Preview my songs! You can listen to my free songs on the Music page.</li>
    <li>Download my music! Free songs that are hosted here can be downloaded directly from the Music page. Songs that are not free have links to where they can be bought.</li>
    <li>Check out this <a href="/Home/Club1506Interview">interview I did with Club1506!</a></li>
</ul>